.nav {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    transition: all 0.3 ease;
    padding: 0.4rem;
    border-radius: 0.2rem;
    &:hover {
      background: rgb(65, 65, 65);
      color: white;
    }
   
  }
}
.buttons-nav {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: space-around;
}
.darkmode-stations-btn {
  display: flex;
  flex-direction: row;
}
.moon {
  width: 3rem;
  height: 3rem;
  color: white;
}
.bulb {
  cursor: pointer;

  margin-top: 1rem;
  &:hover {
    transform: scale(1.1);
  }
}

@media screen and(max-width:756px) {
    button{
        z-index: 10;
        outline: none;
    }
    h1{
        font-size: 1.7rem;
    }
    nav{
     padding-top: 2rem;
    }
  
  .buttons-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
   margin-left: 3rem;
    justify-content: space-around;
  }
  .moon {
    width: 3rem;
    height: 3rem;
  }
}
