.player {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem;
 
 
  img {
    width: 17rem;
    height: 17rem;
    border-radius: 50%;
  }
  h2 {
    padding: 2rem 1rem 1rem 1rem;
    font-weight: 600;
  }
  h3 {
    font-size: 1rem;
    font-weight: 400;
  }
}
.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  padding: 2rem;
  
}
.single-btn-player{
cursor: pointer;
}


h1 {
  text-align: center;
    margin: 2rem;
}
*{
overflow-y: hidden;
}
@media screen and(max-width:756px){
  .player{
    display: flex;
    justify-content: space-between;
   height: 100%;
   margin-top: 4rem;
    img{
      width:50%;
      height: 50%;
    }
  }
  .buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    padding: 2rem;
    
  }
}